@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  color: #333;
}

.form-heading {
  font-size: 16px;
  font-weight: 700;

  color: #0B2639;
}

/* .form-heading {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  background: #0B2639;
  padding: 10px;
  color: white;
  border-bottom: 1px solid white;
} */




ul {
  list-style: none;
  padding: 0;
  margin: 0;
}





.product-card {
  position: relative;
  padding: 7px 0;
}

.medicine-lists {
  background: lightblue;
  border-radius: 5px;
  padding-bottom: 7px;
}

.product-details:hover {
  background: #3c515d;
  color: white;

}

.formheader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 90px;
  padding: 50px;
  background: #f0f0f0;
  background: #1877A1;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 30px;
  color: white;
  ;
  margin-bottom: 8px;
}




.product-details {
  font-size: 12px;
  background: white;
  padding: 8px;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.details-lists {
  flex-wrap: no-wrap;

}

.details-heading {
  color: #808e8f;
  padding-bottom: 2px;
  margin-bottom: 2px;
}

.details-heading.createdheading {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  background: #0B2639;
  padding: 10px;
  color: white;
}

.details-list {
  width: 24%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.details-list span:nth-child(1) {
  word-break: break-word;
}

.details-list span:nth-child(2) {
  font-size: 14px;
      word-break: break-word;
}

.list-header {
  padding: 1rem 1px;
  font-size: 12px;
  border-radius: 5px 5px 0 0;
}

.list-header div:nth-child(1) {
  width: 46%;

}

.list-header div:nth-child(2),
.details-lists li:nth-child(2) {
  width: 30%;

}

.list-header div:nth-child(3),
.details-lists li:nth-child(3) {
  width: 20%;

}

.list-header div:nth-child(4),
.details-lists li:nth-child(4) {
  width: 25px;

}

.details-lists li:nth-child(1) {
  width: 45%;
}

.details-lists a {
  background: #0b2639;
  color: white;
  padding: 2px 6px;
  border-radius: 3px;
}



/* country */
.country {
  position: relative;
  width: 100%;
}

.country .select {
  position: relative;
  border: 1px solid #a6a6a6;
  background: #fff;
  cursor: pointer;
  font-size: 12px;

}

.country .select .medicine-group {
  border-bottom: none;
}

.country-wrap .select {
  padding: 0 12px;
  height: 40px;
  line-height: 40px;

}

#country-drop li {
  cursor: pointer;
  padding: 5px;
}

#country-drop li:hover {
  background: lightblue;
}

.optimal-wrap .select {

  min-height: 40px;
}

.country .select:after {
  content: "";
  display: block;
  position: absolute;
  top: 18px;
  right: 20px;
  width: 8px;
  height: 5px;
}

.country .dropdown {
  display: none;
  position: absolute;
  top: 39px;
  left: 0;
  width: 100%;
  height: 225px;
  border: 1px solid #cfcfcf;
  border-top: 1px solid #a6a6a6;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 1;
}

.country .dropdown>li {
  padding: 0 20px;
  line-height: 34px;
  font-size: 13px;
  font-weight: 400;
  color: #828282;
  cursor: pointer;
}

.country .dropdown>li:first-child {
  margin-top: 12px;
}

.country .dropdown>li:last-child {
  margin-bottom: 12px;
}

.country .dropdown>li:hover {
  background: #dedede;
  color: #454545;
}

.country .dropdown>li.open {
  display: block;
}



.output {
  background: lightblue;
  border-radius: 5px;
  padding: 7px 14px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.medUiCard{
  background:white;
  /* padding-bottom: 0; */
  padding-top: 0;
  /* margin:7px 0; */
}
 
.medUiCard-lists  .list-header div:nth-child(1) {
  width: 48%;

}

.medUiCard-lists .list-header div:nth-child(2)
 {
  width: 32%;

}

.medUiCard-lists .list-header div:nth-child(3)
{
  width: 15%;

}


.trademark{
      text-align: center;
    font-size: 12px;
        margin-top: 8px;

}

/* media  */

@media screen and (max-width:426px){
  .details-listss{
    flex-direction: column;
  }
    .details-listss li{
      width:100%;
    flex-direction: row;
  }
  .details-listss span:nth-child(1) {
    width:100px;
}
}


.jqpaginator { position: relative; }
.jqpaginator .jqp-wrap {
    display: flex; margin: 0 auto; max-width: 540px;
    position: relative; text-align: center;justify-content: center;
}
.jqpaginator .jqp-wrap .jqp-input {
    display: none; margin: 0 auto; width: 100px;
}
.jqpaginator .jqp-wrap .jqp-prev,
.jqpaginator .jqp-wrap .jqp-next,
.jqpaginator .jqp-wrap .jqp-pages { display: flex; }
.jqpaginator .jqp-wrap .jqp-pages { padding: 0; margin: 0; }
.jqpaginator .jqp-wrap .jqp-pages li {
    cursor: default; display: inline-block; padding: 5px 10px;
}
.jqpaginator .jqp-wrap .jqp-pages li.jqp-page,
.jqpaginator .jqp-wrap button { cursor: pointer;  }
.jqpaginator .jqp-wrap .jqp-pages li{
      position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #0b2639;
    background-color: #fff;
    border: 1px solid #dee2e6;
}
    .jqpaginator .jqp-wrap button { 
    color: white;
    background-color: #0b2639;
    border:1px solid  #0b2639;
  padding:0 10px ; }
.jqpaginator .jqp-wrap .jqp-pages li.jqp-active {
    cursor: default; font-weight: bold;
}
.jqpaginator .jqp-wrap button .jqp-disable {
    color: #BBBBBB; cursor: default; pointer-events: none;
}